.logo{
    height: 50px;
    width: auto;
}

.navPadding{
    margin-top: 15px;
}

.center{
    text-align: center;
    display: inline;
}

.logoPadding{
    margin-top: 10px;
}

.textCenter{
    text-align: center;
}

.ad{
    background-color: white;
}

body{
    background: black;
}

.white{
    color: white;
}